[Unit]
Description=Minecraft Server
Wants=network-online.target
After=network-online.target

[Service]
User={{ mc_fabric_server_user }}
WorkingDirectory={{ mc_fabric_server_root }}

ExecStart={{ mc_fabric_server_start_command }}
ExecStop=/usr/bin/sh -c {{ mc_fabric_server_root + 'stop.sh' }}
ExecReload={{ mc_fabric_server_rcon_command }} reload
TimeoutSec=900
# Restart the server when it is stopped or crashed after 30 seconds
# Comment out RestartSec if you want to restart immediately
Restart=always
RestartSec=30

# Alternative: Restart the server only when it stops regularly
# Restart=on-success

[Install]
WantedBy=multi-user.target