accepts-transfers={{ mc_fabric_server_properties['accepts-transfers'] }}
allow-flight={{ mc_fabric_server_properties['allow-flight'] }}
allow-nether={{ mc_fabric_server_properties['allow-nether'] }}
broadcast-console-to-ops={{ mc_fabric_server_properties['broadcast-console-to-ops'] }}
broadcast-rcon-to-ops={{ mc_fabric_server_properties['broadcast-rcon-to-ops'] }}
bug-report-link={{ mc_fabric_server_properties['bug-report-link'] }}
difficulty={{ mc_fabric_server_properties['difficulty'] }}
enable-command-block={{ mc_fabric_server_properties['enable-command-block'] }}
enable-jmx-monitoring={{ mc_fabric_server_properties['enable-jmx-monitoring'] }}
enable-query={{ mc_fabric_server_properties['enable-query'] }}
enable-rcon={{ mc_fabric_server_properties['enable-rcon'] }}
enable-status={{ mc_fabric_server_properties['enable-status'] }}
enforce-secure-profile={{ mc_fabric_server_properties['enforce-secure-profile'] }}
enforce-whitelist={{ mc_fabric_server_properties['enforce-whitelist'] }}
entity-broadcast-range-percentage={{ mc_fabric_server_properties['entity-broadcast-range-percentage'] }}
force-gamemode={{ mc_fabric_server_properties['force-gamemode'] }}
function-permission-level={{ mc_fabric_server_properties['function-permission-level'] }}
gamemode={{ mc_fabric_server_properties['gamemode'] }}
generate-structures={{ mc_fabric_server_properties['generate-structures'] }}
generator-settings={{ mc_fabric_server_properties['generator-settings'] }}
hardcore={{ mc_fabric_server_properties['hardcore'] }}
hide-online-players={{ mc_fabric_server_properties['hide-online-players'] }}
initial-disabled-packs={{ mc_fabric_server_properties['initial-disabled-packs'] }}
initial-enabled-packs={{ mc_fabric_server_properties['initial-enabled-packs'] }}
level-name={{ mc_fabric_server_properties['level-name'] }}
level-seed={{ mc_fabric_server_properties['level-seed'] }}
level-type={{ mc_fabric_server_properties['level-type'] }}
log-ips={{ mc_fabric_server_properties['log-ips'] }}
max-chained-neighbor-updates={{ mc_fabric_server_properties['max-chained-neighbor-updates'] }}
max-players={{ mc_fabric_server_properties['max-players'] }}
max-tick-time={{ mc_fabric_server_properties['max-tick-time'] }}
max-world-size={{ mc_fabric_server_properties['max-world-size'] }}
motd={{ mc_fabric_server_properties['motd'] }}
network-compression-threshold={{ mc_fabric_server_properties['network-compression-threshold'] }}
online-mode={{ mc_fabric_server_properties['online-mode'] }}
op-permission-level={{ mc_fabric_server_properties['op-permission-level'] }}
pause-when-empty-seconds={{ mc_fabric_server_properties['pause-when-empty-seconds'] }}
player-idle-timeout={{ mc_fabric_server_properties['player-idle-timeout'] }}
prevent-proxy-connections={{ mc_fabric_server_properties['prevent-proxy-connections'] }}
previews-chat={{ mc_fabric_server_properties['previews-chat'] }}
pvp={{ mc_fabric_server_properties['pvp'] }}
query.port={{ mc_fabric_server_properties['query-port'] }}
rate-limit={{ mc_fabric_server_properties['rate-limit'] }}
rcon.password={{ mc_fabric_server_properties['rcon-password'] }}
rcon.port={{ mc_fabric_server_properties['rcon-port'] }}
region-file-compression={{ mc_fabric_server_properties['region-file-compression'] }}
require-resource-pack={{ mc_fabric_server_properties['require-resource-pack'] }}
resource-pack={{ mc_fabric_server_properties['resource-pack'] }}
resource-pack-id={{ mc_fabric_server_properties['resource-pack-id'] }}
resource-pack-prompt={{ mc_fabric_server_properties['resource-pack-prompt'] }}
resource-pack-sha1={{ mc_fabric_server_properties['resource-pack-sha1'] }}
server-ip={{ mc_fabric_server_properties['server-ip'] }}
server-port={{ mc_fabric_server_properties['server-port'] }}
simulation-distance={{ mc_fabric_server_properties['simulation-distance'] }}
spawn-monsters={{ mc_fabric_server_properties['spawn-monsters'] }}
spawn-protection={{ mc_fabric_server_properties['spawn-protection'] }}
sync-chunk-writes={{ mc_fabric_server_properties['sync-chunk-writes'] }}
text-filtering-config={{ mc_fabric_server_properties['text-filtering-config'] }}
text-filtering-version={{ mc_fabric_server_properties['text-filtering-version'] }}
use-native-transport={{ mc_fabric_server_properties['use-native-transport'] }}
view-distance={{ mc_fabric_server_properties['view-distance'] }}
white-list={{ mc_fabric_server_properties['white-list'] }}