accepts-transfers={{ mc_fabric_server_properties['accepts-transfers'] | default('false') }}
allow-flight={{ mc_fabric_server_properties['allow-flight'] | default('false') }}
allow-nether={{ mc_fabric_server_properties['allow-nether'] | default('true') }}
broadcast-console-to-ops={{ mc_fabric_server_properties['broadcast-console-to-ops'] | default('true') }}
broadcast-rcon-to-ops={{ mc_fabric_server_properties['broadcast-rcon-to-ops'] | default('false') }}
bug-report-link={{ mc_fabric_server_properties['bug-report-link'] | default('') }}
difficulty={{ mc_fabric_server_properties['difficulty'] | default('easy') }}
enable-code-of-conduct={{ mc_fabric_server_properties['enable-code-of-conduct'] | default('false') }}
enable-command-block={{ mc_fabric_server_properties['enable-command-block'] | default('false') }}
enable-jmx-monitoring={{ mc_fabric_server_properties['enable-jmx-monitoring'] | default('false') }}
enable-query={{ mc_fabric_server_properties['enable-query'] | default('false') }}
enable-rcon={{ mc_fabric_server_properties['enable-rcon'] | default('false') }}
enable-status={{ mc_fabric_server_properties['enable-status'] | default('true') }}
enforce-secure-profile={{ mc_fabric_server_properties['enforce-secure-profile'] | default('true') }}
enforce-whitelist={{ mc_fabric_server_properties['enforce-whitelist'] | default('false') }}
entity-broadcast-range-percentage={{ mc_fabric_server_properties['entity-broadcast-range-percentage'] | default('100') }}
force-gamemode={{ mc_fabric_server_properties['force-gamemode'] | default('false') }}
function-permission-level={{ mc_fabric_server_properties['function-permission-level'] | default('2') }}
gamemode={{ mc_fabric_server_properties['gamemode'] | default('survival') }}
generate-structures={{ mc_fabric_server_properties['generate-structures'] | default('true') }}
generator-settings={{ mc_fabric_server_properties['generator-settings'] | default('{}') }}
hardcore={{ mc_fabric_server_properties['hardcore'] | default('false') }}
hide-online-players={{ mc_fabric_server_properties['hide-online-players'] | default('false') }}
initial-disabled-packs={{ mc_fabric_server_properties['initial-disabled-packs'] | default('') }}
initial-enabled-packs={{ mc_fabric_server_properties['initial-enabled-packs'] | default('vanilla') }}
level-name={{ mc_fabric_server_properties['level-name'] | default('world') }}
level-seed={{ mc_fabric_server_properties['level-seed'] | default('') }}
level-type={{ mc_fabric_server_properties['level-type'] | default('minecraft\:normal') }}
log-ips={{ mc_fabric_server_properties['log-ips'] | default('true') }}
management-server-allowed-origins={{ mc_fabric_server_properties['management-server-allowed-origins'] | default('') }}
management-server-enabled={{ mc_fabric_server_properties['management-server-enabled'] | default('false') }}
management-server-host={{ mc_fabric_server_properties['management-server-host'] | default('localhost') }}
management-server-port={{ mc_fabric_server_properties['management-server-port'] | default('0') }}
management-server-secret={{ mc_fabric_server_properties['management-server-secret'] | default('CHANGEME') }}
management-server-tls-enabled={{ mc_fabric_server_properties['management-server-tls-enabled'] | default('true') }}
management-server-tls-keystore={{ mc_fabric_server_properties['management-server-tls-keystore'] | default('') }}
management-server-tls-keystore-password={{ mc_fabric_server_properties['management-server-tls-keystore-password'] | default('') }}
max-chained-neighbor-updates={{ mc_fabric_server_properties['max-chained-neighbor-updates'] | default('1000000') }}
max-players={{ mc_fabric_server_properties['max-players'] | default('20') }}
max-tick-time={{ mc_fabric_server_properties['max-tick-time'] | default('60000') }}
max-world-size={{ mc_fabric_server_properties['max-world-size'] | default('29999984') }}
motd={{ mc_fabric_server_properties['motd'] | default('A Minecraft Server') }}
network-compression-threshold={{ mc_fabric_server_properties['network-compression-threshold'] | default('256') }}
online-mode={{ mc_fabric_server_properties['online-mode'] | default('true') }}
op-permission-level={{ mc_fabric_server_properties['op-permission-level'] | default('4') }}
pause-when-empty-seconds={{ mc_fabric_server_properties['pause-when-empty-seconds'] | default('60') }}
player-idle-timeout={{ mc_fabric_server_properties['player-idle-timeout'] | default('0') }}
prevent-proxy-connections={{ mc_fabric_server_properties['prevent-proxy-connections'] | default('false') }}
previews-chat={{ mc_fabric_server_properties['previews-chat'] | default('false') }}
pvp={{ mc_fabric_server_properties['pvp'] | default('true') }}
query.port={{ mc_fabric_server_properties['query-port'] | default('25565') }}
rate-limit={{ mc_fabric_server_properties['rate-limit'] | default('0') }}
rcon.password={{ mc_fabric_server_properties['rcon-password'] | default('') }}
rcon.port={{ mc_fabric_server_properties['rcon-port'] | default('25575') }}
region-file-compression={{ mc_fabric_server_properties['region-file-compression'] | default('deflate') }}
require-resource-pack={{ mc_fabric_server_properties['require-resource-pack'] | default('false') }}
resource-pack={{ mc_fabric_server_properties['resource-pack'] | default('') }}
resource-pack-id={{ mc_fabric_server_properties['resource-pack-id'] | default('') }}
resource-pack-prompt={{ mc_fabric_server_properties['resource-pack-prompt'] | default('') }}
resource-pack-sha1={{ mc_fabric_server_properties['resource-pack-sha1'] | default('') }}
server-ip={{ mc_fabric_server_properties['server-ip'] | default('') }}
server-port={{ mc_fabric_server_properties['server-port'] | default('25565') }}
simulation-distance={{ mc_fabric_server_properties['simulation-distance'] | default('10') }}
spawn-monsters={{ mc_fabric_server_properties['spawn-monsters'] | default('true') }}
spawn-protection={{ mc_fabric_server_properties['spawn-protection'] | default('16') }}
status-heartbeat-interval={{ mc_fabric_server_properties['status-heartbeat-interval'] | default('0') }}
sync-chunk-writes={{ mc_fabric_server_properties['sync-chunk-writes'] | default('true') }}
text-filtering-config={{ mc_fabric_server_properties['text-filtering-config'] | default('') }}
text-filtering-version={{ mc_fabric_server_properties['text-filtering-version'] | default('0') }}
use-native-transport={{ mc_fabric_server_properties['use-native-transport'] | default('true') }}
view-distance={{ mc_fabric_server_properties['view-distance'] | default('10') }}
white-list={{ mc_fabric_server_properties['white-list'] | default('false') }}